<h1>Ver Preguntas</h1>

<table>
  <thead>
    <tr>
      <th>Pregunta</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.pregunta %></td>
        <td><%= link_to 'Ver', question %></td>
        <td><%= link_to 'Editar', edit_question_path(question) %></td>
        <td><%= link_to 'Destruir', question, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Pregunta', new_question_path %>
