<p id="notice"><%= notice %></p>  
   

 <div><%= label_tag :'Pregunta 1' %></div>
 <div><%= label_tag :'Pregunta 2' %></div>
 <div><%= label_tag :'Pregunta 3' %></div>
 <div><%= label_tag :'Pregunta 4' %></div>
 <div><%= label_tag :'Pregunta 5' %></div>
 <div><%= label_tag :'Pregunta 6' %></div>
 <div><%= label_tag :'Pregunta 7' %></div>
 <div><%= label_tag :'Pregunta 8' %></div>
 <div><%= label_tag :'Pregunta 9' %></div>
 <div><%= label_tag :'Pregunta 10' %></div>
 