<p id="notice"><%= notice %></p>  
 
 <% @cont = 0 %>
<div class="container">
	<div class="row-fluid">
          <br>
          <br>
           <div class="hero-unit"> 
    <% if @x.nil? %>
             lol
      <% else %>
      <div><%=@x.pregunta %></div>             
      <% if (@x.respuesta != @a) && (@x.respuesta != @b) && (@x.respuesta != @c) && (@a != @b) && (@b != @c)  && (@c != @a ) %>
       <br>
      <% @array = [ @x.respuesta, @a, @b, @c, ].shuffle %>      
          <a href="#myModal2" role="button" class="btn btn-link" data-toggle="modal"><%=  @array[0] %></a>
          <!-- Modal -->
          <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
            <% if @x.respuesta ==  @array[0] %>
            <div class="modal-header">
                    
              <h3 id="myModalLabel2">Correcto</h3>
            </div>    
            <div class="modal-body"> 
              <p>Usted Preciono <%= @array[0] %></p>    
              <p>Bien hecho</p>               
            </div>
            <% @cont = 1 %>           
            <% else %>
            <div class="modal-header">               
              <h3 id="myModalLabel2">Incorrecto</h3>
            </div>         
            <div class="modal-body">
               <p>Usted Preciono <%= @array[0] %></p>       
              <p>La respuesta correcta es <%= @x.respuesta %></p>               
             </div>           
            <br >
             <% @cont = 0 %>   
            <% end %>
            <div class="modal-footer">          
              <button class="btn"><%= link_to 'Siguiente', root_path %></button>
            </div>
          </div>
          <br>   
        
          <a href="#myModal3" role="button" class="btn btn-link" data-toggle="modal"><%=  @array[1] %></a>
          <!-- Modal -->
          <div id="myModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
            <% if @x.respuesta ==  @array[1] %>
            <div class="modal-header">
                  
              <h3 id="myModalLabel3">Correcto</h3>
            </div>    
            <div class="modal-body"> 
              <p>Usted Preciono <%= @array[1] %></p>    
              <p>Bien hecho</p>               
            </div>
                <% @cont = 1 %>       
            <% else %>
            <div class="modal-header">             
              <h3 id="myModalLabel3">Incorrecto</h3>
            </div>         
            <div class="modal-body">
               <p>Usted Preciono <%= @array[1] %></p>       
              <p>La respuesta correcta es <%= @x.respuesta %></p>               
        </div>
            <br >   
             <% @cont = 0 %>   
        <% end %>
            <div class="modal-footer">
              <button class="btn"><%= link_to 'Siguiente', root_path %></button>
            </div>
          </div>
            <br>         
      
        
          <a href="#myModal4" role="button" class="btn btn-link" data-toggle="modal"><%=  @array[3] %></a>
          <!-- Modal -->
          <div id="myModal4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
            <% if @x.respuesta ==  @array[3] %>
            <div class="modal-header">                   
              <h3 id="myModalLabel3">Correcto</h3>
            </div>    
            <div class="modal-body"> 
              <p>Usted Preciono <%= @array[3] %></p>    
              <p>Bien hecho</p>               
            </div>
              <% @cont = 1 %>       
            <% else %>
            <div class="modal-header">                 
              <h3 id="myModalLabel3">Incorrecto</h3>
            </div>         
            <div class="modal-body">
               <p>Usted Preciono <%= @array[3] %></p>       
              <p>La respuesta correcta es <%= @x.respuesta %></p>               
        </div>
            <br >   
             <% @cont = 0 %>   
        <% end %>
            <div class="modal-footer">           
              <button class="btn"><%= link_to 'Siguiente', root_path %></button>
            </div>
          </div>
            <br>         
      
        <a href="#myModal5" role="button" class="btn btn-link" data-toggle="modal"><%=  @array[2] %></a>
          <!-- Modal -->
          <div id="myModal5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
            <% if @x.respuesta ==  @array[2] %>
            <div class="modal-header">                
              <h3 id="myModalLabel4">Correcto</h3>
            </div>    
            <div class="modal-body"> 
              <p>Usted Preciono <%= @array[2] %></p>    
              <p>Bien hecho</p>               
            </div>
          <% @cont = 1 %>       
            <% else %>
            <div class="modal-header">                
              <h3 id="myModalLabel4">Incorrecto</h3>
            </div>         
            <div class="modal-body">
               <p>Usted Preciono <%= @array[2] %></p>       
              <p>La respuesta correcta es <%= @x.respuesta %></p>               
        </div>           
            <br >    
             <% @cont = 0 %>   
             <% end %>
            <div class="modal-footer">           
              <button class="btn"><%= link_to 'Siguiente', root_path %></button>
            </div>
          </div>
            <br>
            
   
     <% else %>
      
             <% @y = true %>           
          <% while @y %>
               <% @a =  @questions.shuffle[0].respuesta %>
               <% @b =  @questions.shuffle[1].respuesta %>
               <% @c =  @questions.shuffle[2].respuesta %>                      
             <% if (@x.respuesta != @a) && (@x.respuesta != @b) && (@x.respuesta != @c) && (@a != @b) && (@b != @c)  && (@c != @a ) %>
                   <% @array = [ @x.respuesta, @a, @b, @c, ].shuffle %>
      
          <a href="#myModal2" role="button" class="btn btn-link" data-toggle="modal"><%=  @array[0] %></a>
          <!-- Modal -->
          <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
            <% if @x.respuesta ==  @array[0] %>
            <div class="modal-header">
                  
              <h3 id="myModalLabel2">Correcto</h3>
            </div>    
            <div class="modal-body"> 
              <p>Usted Preciono <%= @array[0] %></p>    
              <p>Bien hecho</p>               
            </div>
               <% @cont = 1 %>     
            <% else %>
            <div class="modal-header">
                   
              <h3 id="myModalLabel2">Incorrecto</h3>
            </div>         
            <div class="modal-body">
               <p>Usted Preciono <%= @array[0] %></p>       
              <p>La respuesta correcta es <%= @x.respuesta %></p>               
        </div>
            <br >
             <% @cont = 0 %>   
        <% end %>
            <div class="modal-footer">
            
              <button class="btn"><%= link_to 'Siguiente', root_path %></button>
            </div>
          </div>
            <br>   
           
          <a href="#myModal3" role="button" class="btn btn-link" data-toggle="modal"><%=  @array[1] %></a>
          <!-- Modal -->
          <div id="myModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
            <% if @x.respuesta ==  @array[1] %>
            <div class="modal-header">                   
              <h3 id="myModalLabel3">Correcto</h3>
            </div>    
            <div class="modal-body"> 
              <p>Usted Preciono <%= @array[1] %></p>    
              <p>Bien hecho</p>               
            </div>
               <% @cont = 1 %>     
            <% else %>
            <div class="modal-header">
                
              <h3 id="myModalLabel3">Incorrecto</h3>
            </div>         
            <div class="modal-body">
               <p>Usted Preciono <%= @array[1] %></p>       
              <p>La respuesta correcta es <%= @x.respuesta %></p>               
        </div>
            <br >
             <% @cont = 0 %>   
        <% end %>
            <div class="modal-footer">              
              <button class="btn"><%= link_to 'Siguiente', root_path %></button>
            </div>
          </div>
            <br>         
      
      
      
          <a href="#myModal4" role="button" class="btn btn-link" data-toggle="modal"><%=  @array[3] %></a>
          <!-- Modal -->
          <div id="myModal4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
            <% if @x.respuesta ==  @array[3] %>
            <div class="modal-header">
                 
              <h3 id="myModalLabel3">Correcto</h3>
            </div>    
            <div class="modal-body"> 
              <p>Usted Preciono <%= @array[3] %></p>    
              <p>Bien hecho</p>               
            </div>
              <% @cont = 1 %>     
            <% else %>
            <div class="modal-header">
               
              <h3 id="myModalLabel3">Incorrecto</h3>
            </div>         
            <div class="modal-body">
               <p>Usted Preciono <%= @array[3] %></p>       
              <p>La respuesta correcta es <%= @x.respuesta %></p>               
        </div>
            <br >  
             <% @cont = 0 %>   
        <% end %>
            <div class="modal-footer">
             
              <button class="btn"><%= link_to 'Siguiente', root_path %></button>
            </div>
          </div>
            <br>         
      
        <a href="#myModal5" role="button" class="btn btn-link" data-toggle="modal"><%=  @array[2] %></a>
          <!-- Modal -->
          <div id="myModal5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
            <% if @x.respuesta ==  @array[2] %>
            <div class="modal-header">                  
              <h3 id="myModalLabel4">Correcto</h3>
            </div>    
            <div class="modal-body"> 
              <p>Usted Preciono <%= @array[2] %></p>    
              <p>Bien hecho</p>               
            </div>
           <% @cont = 1 %>     
            <% else %>
            <div class="modal-header">                  
              <h3 id="myModalLabel4">Incorrecto</h3>
            </div>         
            <div class="modal-body">
               <p>Usted Preciono <%= @array[2] %></p>       
              <p>La respuesta correcta es <%= @x.respuesta %></p>               
            </div>
            <br >   
              <% @cont = 0 %>     
        <% end %>
            <div class="modal-footer">          
              <button class="btn"><%= link_to 'Siguiente', root_path %></button>
            </div>
          </div>
            <br>   
                <% @y = false %>
             <% else %>
                <% @y = true %>
             <% end %>
          <% end %> 
      <% end %>             
     
             <% Contador.all[0].update( id:(Contador.all[0].id), contC:(Contador.all[0].contC +  @cont ), contPg:(Contador.all[0].contPg + 1)) %>
  
              <% if Contador.all[0].contPg > 10  %>
                <% Contador.all[0].update( id:(Contador.all[0].id), contC:0, contPg:1 ) %>
           
             <% end %>
             
             
             
      <br >  
      <a href="#myModal" role="button" class="btn" data-toggle="modal">Pista</a>
      <!-- Modal -->
      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
       
          <h3 id="myModalLabel">Pista</h3>
        </div>
        <div class="modal-body">
          <p><%= @x.pista %></p>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        </div>
       
        <% end %>
        </div>      
    </div><!-- /.span4 -->
        <div class="span4">         
      
          </div>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
   <div class="container">
        <div class="row">
          <div class="span9">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
      </div>
   

 
   <footer>
        <p><%= Contador.all[0].contPg %> de  10 </p>
      </footer>

   </div> <!-- /container -->

