<p id="notice"><%= notice %></p>  
  
    <body >      
    <% if @x.nil? %>
      <% else %>
      <div><%=@x.pregunta %></div>             
      <% if (@x.respuesta != @a) && (@x.respuesta != @b) && (@x.respuesta != @c) && (@a != @b) && (@b != @c)%>
       <br>
      <% @array = [ @x.respuesta, @a, @b, @c, ].shuffle %>
      
          <a href="#myModal2" role="button" class="btn btn-link" data-toggle="modal"><%=  @array[0] %></a>
          <!-- Modal -->
          <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
            <% if @x.respuesta ==  @array[0] %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>       
              <h3 id="myModalLabel2">Correcto</h3>
            </div>    
            <div class="modal-body"> 
              <p>Usted Preciono <%= @array[0] %></p>    
              <p>Bien hecho</p>               
            </div>
            <% else %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>       
              <h3 id="myModalLabel2">Incorrecto</h3>
            </div>         
            <div class="modal-body">
               <p>Usted Preciono <%= @array[0] %></p>       
              <p>La respuesta correcta es <%= @x.respuesta %></p>               
        </div>
            <br >
        <% end %>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              <button class="btn"><%= link_to 'Siguiente', root_path %></button>
            </div>
          </div>
            <br>   
      
      
          <a href="#myModal3" role="button" class="btn btn-link" data-toggle="modal"><%=  @array[1] %></a>
          <!-- Modal -->
          <div id="myModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
            <% if @x.respuesta ==  @array[1] %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>       
              <h3 id="myModalLabel3">Correcto</h3>
            </div>    
            <div class="modal-body"> 
              <p>Usted Preciono <%= @array[1] %></p>    
              <p>Bien hecho</p>               
            </div>
            <% else %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>       
              <h3 id="myModalLabel3">Incorrecto</h3>
            </div>         
            <div class="modal-body">
               <p>Usted Preciono <%= @array[1] %></p>       
              <p>La respuesta correcta es <%= @x.respuesta %></p>               
        </div>
            <br >
        <% end %>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              <button class="btn"><%= link_to 'Siguiente', root_path %></button>
            </div>
          </div>
            <br>         
      
      
      
          <a href="#myModal4" role="button" class="btn btn-link" data-toggle="modal"><%=  @array[3] %></a>
          <!-- Modal -->
          <div id="myModal4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
            <% if @x.respuesta ==  @array[3] %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>       
              <h3 id="myModalLabel3">Correcto</h3>
            </div>    
            <div class="modal-body"> 
              <p>Usted Preciono <%= @array[3] %></p>    
              <p>Bien hecho</p>               
            </div>
            <% else %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>       
              <h3 id="myModalLabel3">Incorrecto</h3>
            </div>         
            <div class="modal-body">
               <p>Usted Preciono <%= @array[3] %></p>       
              <p>La respuesta correcta es <%= @x.respuesta %></p>               
        </div>
            <br >
        <% end %>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              <button class="btn"><%= link_to 'Siguiente', root_path %></button>
            </div>
          </div>
            <br>         
      
        <a href="#myModal5" role="button" class="btn btn-link" data-toggle="modal"><%=  @array[2] %></a>
          <!-- Modal -->
          <div id="myModal5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
            <% if @x.respuesta ==  @array[2] %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>       
              <h3 id="myModalLabel4">Correcto</h3>
            </div>    
            <div class="modal-body"> 
              <p>Usted Preciono <%= @array[2] %></p>    
              <p>Bien hecho</p>               
            </div>
            <% else %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>       
              <h3 id="myModalLabel4">Incorrecto</h3>
            </div>         
            <div class="modal-body">
               <p>Usted Preciono <%= @array[2] %></p>       
              <p>La respuesta correcta es <%= @x.respuesta %></p>               
        </div>
            <br >
        <% end %>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              <button class="btn"><%= link_to 'Siguiente', root_path %></button>
            </div>
          </div>
            <br>         
                
      <% else %>
        <% @y = true %>           
          <% while @y %>
               <% @x =  @questions.shuffle[0] %> 
               <% @a =  @questions.shuffle[0].respuesta %>
               <% @b =  @questions.shuffle[1].respuesta %>
               <% @c =  @questions.shuffle[2].respuesta %>                      
             <% if (@x.respuesta != @a) && (@x.respuesta != @b) && (@x.respuesta != @c) && (@a != @b) && (@b != @c)%>
                   <% @array = [ @x.respuesta, @a, @b, @c, ].shuffle %>
      
          <a href="#myModal2" role="button" class="btn btn-link" data-toggle="modal"><%=  @array[0] %></a>
          <!-- Modal -->
          <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
            <% if @x.respuesta ==  @array[0] %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>       
              <h3 id="myModalLabel2">Correcto</h3>
            </div>    
            <div class="modal-body"> 
              <p>Usted Preciono <%= @array[0] %></p>    
              <p>Bien hecho</p>               
            </div>
            <% else %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>       
              <h3 id="myModalLabel2">Incorrecto</h3>
            </div>         
            <div class="modal-body">
               <p>Usted Preciono <%= @array[0] %></p>       
              <p>La respuesta correcta es <%= @x.respuesta %></p>               
        </div>
            <br >
        <% end %>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              <button class="btn"><%= link_to 'Siguiente', root_path %></button>
            </div>
          </div>
            <br>   
      
      
          <a href="#myModal3" role="button" class="btn btn-link" data-toggle="modal"><%=  @array[1] %></a>
          <!-- Modal -->
          <div id="myModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
            <% if @x.respuesta ==  @array[1] %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>       
              <h3 id="myModalLabel3">Correcto</h3>
            </div>    
            <div class="modal-body"> 
              <p>Usted Preciono <%= @array[1] %></p>    
              <p>Bien hecho</p>               
            </div>
            <% else %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>       
              <h3 id="myModalLabel3">Incorrecto</h3>
            </div>         
            <div class="modal-body">
               <p>Usted Preciono <%= @array[1] %></p>       
              <p>La respuesta correcta es <%= @x.respuesta %></p>               
        </div>
            <br >
        <% end %>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              <button class="btn"><%= link_to 'Siguiente', root_path %></button>
            </div>
          </div>
            <br>         
      
      
      
          <a href="#myModal4" role="button" class="btn btn-link" data-toggle="modal"><%=  @array[3] %></a>
          <!-- Modal -->
          <div id="myModal4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
            <% if @x.respuesta ==  @array[3] %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>       
              <h3 id="myModalLabel3">Correcto</h3>
            </div>    
            <div class="modal-body"> 
              <p>Usted Preciono <%= @array[3] %></p>    
              <p>Bien hecho</p>               
            </div>
            <% else %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>       
              <h3 id="myModalLabel3">Incorrecto</h3>
            </div>         
            <div class="modal-body">
               <p>Usted Preciono <%= @array[3] %></p>       
              <p>La respuesta correcta es <%= @x.respuesta %></p>               
        </div>
            <br >
        <% end %>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              <button class="btn"><%= link_to 'Siguiente', root_path %></button>
            </div>
          </div>
            <br>         
      
        <a href="#myModal5" role="button" class="btn btn-link" data-toggle="modal"><%=  @array[2] %></a>
          <!-- Modal -->
          <div id="myModal5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
            <% if @x.respuesta ==  @array[2] %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>       
              <h3 id="myModalLabel4">Correcto</h3>
            </div>    
            <div class="modal-body"> 
              <p>Usted Preciono <%= @array[2] %></p>    
              <p>Bien hecho</p>               
            </div>
            <% else %>
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>       
              <h3 id="myModalLabel4">Incorrecto</h3>
            </div>         
            <div class="modal-body">
               <p>Usted Preciono <%= @array[2] %></p>       
              <p>La respuesta correcta es <%= @x.respuesta %></p>               
        </div>
            <br >
        <% end %>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              <button class="btn"><%= link_to 'Siguiente', root_path %></button>
            </div>
          </div>
            <br>   
                <% @y = false %>
             <% else %>
                <% @y = true %>
             <% end %>
          <% end %> 
      <% end %>       
      <br >  
      <a href="#myModal" role="button" class="btn" data-toggle="modal">Pista</a>
      <!-- Modal -->
      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Pista</h3>
        </div>
        <div class="modal-body">
          <p><%= @x.pista %></p>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
        <% end %>
      </div>
      
