<p id="notice"><%= notice %></p>

<p>
  <strong>Cont:</strong>
  <%= @contador.contC %>
   <%= @contador.contPg %>
</p>

<%= link_to 'Edit', edit_contador_path(@contador) %> |
<%= link_to 'Back', contadors_path %>
